{% extends 'base.html.twig' %}

{% block title %}Edit Escena{% endblock %}

{% block body %}
    <h1>Edit Escena</h1>

    {{ include('escena/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_escena_index') }}">back to list</a>

    {{ include('escena/_delete_form.html.twig') }}
{% endblock %}
